<!DOCTYPE html>
<html>
  <head>
    <title>Renbloc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="page-container">
      <div class="content-container">
        <%= yield %>
      </div>
      <div class="footer-container">
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
