<!DOCTYPE html>
<html>
  <head>
    <title>Renbloc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-container">
    <div class="content-container">
      <% if content_for? :navbar %>
          <%= yield :navbar %>
        <% else %>
          <%= render "shared/navbar" %>
        <% end %>
        <%= yield %>
      </div>
      <div class="footer-container">
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
